body {
  background-color: black;
  font-family: 'Iceland', cursive;
  overflow: hidden;
}

#first-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

#second-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}

#third-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

#fourth-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 31s;
  animation-iteration-count: infinite;
}

.stats {
    position: absolute;
    top: 10px;
    cursor: pointer;
    opacity: 0.9;
    z-index: 10000;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

#info {
  margin-top: 5px;
    color: #e7e9d9;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    text-align: center;
}

#info ul {
  display: flex;
  justify-content: center;
}

form {
  background-color: white;
  opacity: 0.5;
  width: 100px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@font-face {
  font-family: Sacred;
  src: url("../assets/Sacred.ttf") format("truetype");
}

@keyframes header-letter {
  0%      { color: indigo }
  14.3%   { color: violet }
  28.6%   { color: red }
  42.9%   { color: orange }
  57.2%   { color: yellow }
  71.5%   { color: green }
  85.8%   { color: blue }
  100%    { color: indigo }
}
