body {
  background-color: black;
  font-family: 'Iceland';
  display: flex;
  overflow: hidden;
}

#first-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred Geometry';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

#second-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred Geometry';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}

#third-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred Geometry';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

#fourth-header-letter {
  margin: 0 3px 5px 3px;
  font-family: 'Sacred Geometry';
  font-size: 28px;
  animation-name: header-letter;
  animation-duration: 31s;
  animation-iteration-count: infinite;
}

#stats {
    align-self: right;
    top: 10px;
    right: 20.75%;
    cursor: pointer;
    opacity: 0.9;
}

#about {
  width: 20%;
  height: 100vh;
}

#info {
  /* margin-top: 5px; */
  align-self: center;
  width: 20%;
  color: #e7e9d9;
  position: absolute;
  top: 0px;
  padding: 10px 25px 25px 25px;
  box-sizing: border-box;
  /* text-align: center; */
}

#info ul {
  display: flex;
  justify-content: center;
}

#form {
  box-sizing: border-box;
  padding-top: 25px;
  background-color: black;
  opacity: 0.5;
  width: 20%;
  height: 100vh;
  position: relative;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.min-max {
  margin-top: 2vh;
  align-self: center;
  width: 70%;
}

@font-face {
  font-family: Sacred Geometry;
  src: url("../assets/Sacred.ttf") format("truetype");
}

@font-face {
  font-family: Iceland;
  src: url("../assets/Iceland-Regular.ttf") format("truetype");
}

@keyframes header-letter {
  0%      { color: indigo }
  14.3%   { color: violet }
  28.6%   { color: red }
  42.9%   { color: orange }
  57.2%   { color: yellow }
  71.5%   { color: green }
  85.8%   { color: blue }
  100%    { color: indigo }
}
